# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
# .env

# Logs
*.log
error.txt

# IDE
.vscode/
.idea/

# Build artifacts
build/
dist/
*.spec

# OS files
Thumbs.db
.DS_Store